<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %> 
    <main class="">
        <div class="container">
                <div class="row">
                    <div class="col s12 m6  center">
                        <form method="POST" action="/login" class="form-login">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">face</i>
                                    <input required type="text" class="validate" name="email" id="email"/>
                                    <label for="email">email</label>
                                    <span class="helper-text email-msg" data-error="please enter this field" data-success="^"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">fingerprint</i>
                                    <input required type="password" class="validate" name="password" id="password"/>
                                    <label for="password">password</label>
                                    <span class="helper-text pass-msg" data-error="please enter this field" data-success="^"></span>
                                </div>
                            </div>
                                <div class="row error">
                                    
                                </div>
                            <div class="row">
                                <div class="col s12">
                                    <button type="submit" class="btn blue waves-effect waves-dark">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </main>
    <script src="/js/animate.js"></script>
    <script>
        let error = document.querySelector('.error');
        document.querySelector('.form-login').addEventListener('submit',function(e){
            e.preventDefault();
            var xhr = new XMLHttpRequest();
            let email = this.email.value;
            let password = this.password.value;
            console.log(email+password)
            xhr.open('POST','/login',true);
            xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded');
            xhr.send(`email=${email}&password=${password}&_csrf=<%= csrfToken %>`);
            xhr.onreadystatechange = function (){
                if(xhr.readyState === 4){
                    if(xhr.status === 200){
                        let res = xhr.responseText;
                        console.log(res)
                        if(res=='Ok'){
                            window.location = '/';
                        }
                        else if(res == 'Invalid Password'){
                            document.querySelector('#password').classList.add('invalid');
                            document.querySelector('.pass-msg').setAttribute('data-error','Invalid Password')
                        }
                        else{
                            document.querySelector('#email').classList.add('invalid');
                            document.querySelector('.email-msg').setAttribute('data-error','Invalid Email')
                        }
                    }
                }
            }    
            
            
        })
    </script>
<%- include('../includes/end.ejs') %> 