<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="css/404.css">
</head>
<body>
        <%- include('../includes/nav.ejs') %> 

        <div class="container">
            <!-- <ul class="collection">
                <% for(prod of data) { %>
                    <li class="collection-item"><%= prod.productId.title %>  
                        <span class="badge btn waves-effect green lighten-2 small plus" id="p<%= prod.productId._id %>"><b style="color: white;">+</b></span>
                        <span class="badge green lighten-4 count"> <%= prod.qty %>  </span>
                        <span class="badge btn waves-effect red lighten-2 small minus" id="p<%= prod.productId._id %>"><b style="color: white;">-</b></span>
                    </li>
                <% } %>              
            </ul> -->
        
            <ul class="collapsible" data-collapsible="expandable">
                <% for(prod of data) { %>
                    <li>
                        <div class="collapsible-header"  style="display: block;">
                            <b><%= prod.productId.title %></b> 
                            <span class="badge green darken-2 white-text out-count"><b> x<%= prod.qty %></b> </span>
                            <span class="badge green lighten white-text"><b><%= prod.productId.price %></b> </span>
                        </div>
                        <div class="collapsible-body">
                            <p><%= prod.productId.desc %> </p>
                            <img src="<%= prod.productId.img %> " width="10%" alt="">
                            <span class="badge btn waves-effect green lighten-2 small plus" id="p<%= prod.productId._id %>"><b style="color: white;">+</b></span>
                            <span class="badge green lighten-4 count"> <%= prod.qty %>  </span>
                            <span class="badge btn waves-effect red lighten-2 small minus" id="p<%= prod.productId._id %>"><b style="color: white;">-</b></span>
                        
                        </div>
                    </li>
                <% } %>              
            </ul>

            <div class="card grey darken-4 hoverable">
                <div class="card-content white-text">
                    <span class="card-title totalPrice">$ <%= totalPrice %> /- </span>
                    <p>Ready to checkout</p>
                </div>
                <div class="card-action">
                    <a href="/checkout">Checkout</a>
                    <a href="#">Cancel</a>
                </div>
            </div>
            
        </div>

        <script>
            var totalPrice =document.querySelector('.totalPrice');
            document.querySelectorAll('.plus').forEach(plus=>{
                plus.addEventListener('click',function(){
                    var xhr = new XMLHttpRequest();
                    id = this.id;
                    xhr.open('POST','/cart-add',true);
                    xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded');
                    xhr.send(`productId=${id}`);
                    xhr.onreadystatechange = function (){
                        if(xhr.readyState === 4){
                            if(xhr.status === 200){
                                let ct = document.querySelector(`#${id}`).parentElement.querySelector('.count').innerText;
                                ct = document.querySelector(`#${id}`).parentElement.querySelector('.count').innerText = Number(ct)+1;
                                document.querySelector(`#${id}`).parentElement.parentElement.querySelector('.out-count > b').innerText ='x'+ ct;
                                totalPrice.innerText = '$ '+xhr.responseText;
                            }
                        }
                    }    
                    
                    
                })
            })

            document.querySelectorAll('.minus').forEach(plus=>{
                plus.addEventListener('click',function(){
                    var xhr = new XMLHttpRequest();
                    id = this.id;
                    xhr.open('POST','/cart-remove',true);
                    xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded');
                    xhr.send(`productId=${id}`);
                    xhr.onreadystatechange = function (){
                        if(xhr.readyState === 4){
                            if(xhr.status === 200){
                                let ct = document.querySelector(`#${id}`).parentElement.querySelector('.count').innerText;
                                ct = document.querySelector(`#${id}`).parentElement.querySelector('.count').innerText = Number(ct)-1;
                                document.querySelector(`#${id}`).parentElement.parentElement.querySelector('.out-count > b').innerText ='x'+ ct;
                                if(ct==0){
                                    document.querySelector(`#${id}`).parentElement.parentElement.remove();
                                }
                                totalPrice.innerText = '$ '+xhr.responseText;
                            }
                        }
                    }    
                    
                    
                })
            })
        </script>

<%- include('../includes/end.ejs') %> 