<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="css/404.css">
    <style>
        :root{
            font-size: 12px;
        }
    </style>
</head>
<body>
    <%- include('../includes/nav.ejs') %> 
    <main class="grey lighten-3">
        
            <h1 align= center>Shop</h1>
        
        <div class="row">
        <% if ( data.length > 0) { %>

            <% for (p of data) { %>

                <div class="col s12 m2">
                    <div class="card hoverable">
                        <!-- <div class="card-image">
                            <img src="<%= p.img %> " alt="">
                            <div class="card-title"><%= p.title %> </div>
                        </div> -->
                        <div class="card-content prod">
                            <b><%= p.title %> </b>
                            <p style="color:#444"> <em style="color:#777"></em> <br><%= p.desc %></p>
                            <div class="col s4 right price">$<%= p.price %></div>
                        </div>
                        <div class="card-action ">
                            <form style="display: inline-block;" action="/cart" id="<%= p._id %>" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <% if(isAuthenticated) { %>
                                    <button type="submit" class="btn-floating btn-small waves-effect green lighten-2">Add to Cart</button>
                                <% } %> 
                                <input type="hidden" name="productId" value="<%= p._id %>">
                            </form>
                            <form style="display: inline-block;" action="/products/<%= p._id %>" method="GET">
                                    <button type="submit" class="btn-flat btn-small waves-effect green lighten-5">See More</button>
                                </form>
                                
                        </div>
                    </div>
                </div>
                
                <% } %>

        <% } else { %>
            <h3>No Products here..!</h3>
            <% } %>
        </div>
    </main>

    <script src="/js/animate.js"></script>

    <% if(isAuthenticated) { %>
        <script>

            document.querySelectorAll('form[action="/cart"]').forEach(f=>{
                f.addEventListener('submit', function(e){
                    e.preventDefault(); 
                    var xhr = new XMLHttpRequest();
                    id = this.id;
                    console.log(this)
                    xhr.open('POST','/cart',true);
                    xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded');
                    xhr.send(`productId=${id}&_csrf=<%= csrfToken %>`);
                    xhr.onreadystatechange = function (){
                        if(xhr.readyState === 4){
                            if(xhr.status === 200){
                                M.toast({html:'Added to Cart'});
                            }
                        }
                    }
                })
            }) 
            
        </script>
    <% } %>  

<%- include('../includes/end.ejs') %> 